{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": true,
    "printWidth": 80,
    "singleAttributePerLine": true,
	"pluginSearchDirs": false,
	"plugins": [
		"prettier-plugin-tailwindcss"
	]
}
